@{ 
    ViewData["Title"] = "Home";
}

<h2>Here is a list of things you can do here:</h2>
<ul>
    <li>Checkout Homepage</li>
    <li>Checkout Cookie Clicker Game</li>
    <li>Checkout Github</li>
</ul>
